<% include ../partials/header %>

    <header class="jumbotron">
        <div class="container">
            <h1>Pet</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="/pets/new">Add Pet Free Thing</a>
            </p>
            <form action="/pets" method="GET" class="form-inline">
                <div class="form-group">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <input type="text" name="search" placeholder="Pet Search..." class="form-control">
                    <input type="submit" value="Search" class="btn btn-default">
                </div>
            </form>
        </div>
    </header>
    
    <div class="row text-center flex" >
        <div class="col-md-12">
            <% if(noMatch !== null){ %>
                <h3><%= noMatch %></h3>
            <% } %>
        </div>
        <% pets.forEach(function(pet){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <a href="/pets/<%= pet._id %>">
                        <img src="<%= pet.image %>">
                    </a>
                    <div class="caption">
                        <h4><%= pet.title %></h4>
                    </div>
                    <p>
                        <a href="/pets/<%= pet._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>