<% include ../partials/header %>

    <header class="jumbotron">
        <div class="container">
            <h1>Apartments</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="/apartments/new">Add New Apartment</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% apartments.forEach(function(apartment){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= apartment.image %>">
                    <div class="caption">
                        <h4><%= apartment.name %></h4>
                        <h5><%= apartment.city %>, <%= apartment.state %></h5>
                        <h5>$<%= apartment.price %></h5>
                    </div>
                    <p>
                        <a href="/apartments/<%= apartment._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>