<% include ../partials/header %>

    <header class="jumbotron" id="orange">
        <div class="container">
            <h1>Apartments</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="/apartments/new">Add New Apartment</a>
            </p>
            <form action="/apartments/title" method="GET" class="form-inline">
                <div class="form-group">
                    <input type="text" name="search" placeholder="Title" class="form-control">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Search By Title
                    </button>
                </div>
            </form>
            <p></p>
            <form action="/apartments/city" method="GET" class="form-inline">
                <div class="form-group">
                    <input type="text" name="search" placeholder="City" class="form-control">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Search By City
                    </button>
                </div>
            </form>
        </div>
    </header>
    
    <div class="row text-center flex" >
        <div class="col-md-12">
            <% if(noMatch !== null){ %>
                <h3><%= noMatch %></h3>
            <% } %>
        </div>
        <% apartments.forEach(function(apartment){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <a href="/apartments/<%= apartment._id %>">
                        <img src="<%= apartment.image %>">
                    </a>
                    <div class="caption">
                        <h4><%= apartment.name %></h4>
                        <h5><%= apartment.city %>, <%= apartment.state %></h5>
                        <h5>$<%= apartment.price %></h5>
                    </div>
                    <p>
                        <a href="/apartments/<%= apartment._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>