<% include ../partials/header %>

    <p class="lead">Apartment</p>
    <div class="pull-right">
        <% if(currentUser && apartment.author.id.equals(currentUser._id)){ %>
            <a class="btn btn-warning" href="/apartments/<%= apartment._id %>/edit">
                Edit
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
            <form id="delete-form" action="/apartments/<%= apartment._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">
                    Delete
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </form>
        <% } %>
    </div>
    <div class="thumbnail">
        <img class="img-responsive" src="<%= apartment.image %>">
        <div class="caption-full">
            <h4 class="pull-right"><%= apartment.createdAt.toDateString() %></h4>
            <h4><a><%= apartment.name %></a></h4>
            <h4 class="pull-right">$<%= apartment.price %></h4>
            <h4><%= apartment.street %>, <%= apartment.city %>, <%= apartment.state %>, <%= apartment.zipcode %></h4>
            <span class="label label-info">Description</span>
            <p><%= apartment.description %></p>
            <span class="label label-info">Note</span>
            <p><%= apartment.note %></p>
            <p>
                <em>Submitted By <a href="/profile/<%= apartment.author.id %>"><strong><%= apartment.author.username %></strong></a>, <%= moment(apartment.createdAt).fromNow() %></em>
            </p>
            <div id="map"></div>
            <hr>
            <div class="row center">
                <div class="col-sm-4">
                    <form action="/apartments/<%= apartment._id %>/ratings" method="POST">
                        <div class="form-group">
                            <button class="btn btn-sm btn-primary">
                                (<%= apartment.ratings.length %>)
                                Likes
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="fb-share-button" data-href="/apartments/<%= apartment._id %>" data-layout="button" data-size="large" data-mobile-iframe="true">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fclonezone-ysongh.c9users.io%2Fjobs&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <% if(!apartment.isFlag){ %>
                        <form action="/apartments/<%= apartment._id %>/flags" method="POST">
                            <div class="form-group">
                                <button class="btn btn-sm btn-primary">
                                    (<%= apartment.flags.length %>)
                                    Flags This Post
                                </button>
                            </div>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="text-right">
            <a class="btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add New Comment</a>
        </div>
        <h4><strong>Comments <span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span></strong></h4>
        <div class="collapse" id="collapseComment">
            <div class="well leftBorder">
                <% if(!currentUser) { %>
                    <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
                <% } %>
                <% if(currentUser) { %>
                    <h4>Write your comment <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
                    <form id="add-comment-form" action="/apartments/<%= apartment._id %>/comments" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-sm">Comment <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
                        </div>
                    </form>
                <% } %>
            </div>
        </div>
        <hr>
        <% if (apartment.comments.length === 0) { %>
            <em class="grey">No comments yet.</em>
        <% } %>
        <% apartment.comments.reverse().forEach(function(comment) { %>
        <div class="row">
            <div class="col-md-12">
                <strong>
                    <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
                        <span class="glyphicon glyphicon-user blue" aria-hidden="true"></span>
                    <% } else { %>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <% } %>
                    <a href="/profile/<%= comment.author.id %>"><strong><%= comment.author.username %></strong></a>
                </strong>
                
                <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                
                <p><%= comment.text %></p>
                
                <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
                
                    <a class="btn btn-xs btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">
                    Edit</a>
        
                    <form id="delete-form" action="/apartments/<%= apartment._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
        
                    <div class="collapse" id="collapseEdit<%= comment._id %>">
                        <div class="well leftBorder2">
                            <h4>Edit your comment <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></h4>
                            <form id="edit-comment-form<%= comment._id %>" action="/apartments/<%= apartment._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                                <div class="form-group">
                                    <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-warning btn-sm">Edit comment <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                <% } %>
        <hr>
            </div>
        </div>
        <% }) %>
    </div>
    
    <script>
        function initMap() {
            var lat = <%= apartment.lat %>;
            var lng = <%= apartment.lng %>;
            var center = {lat: lat, lng: lng };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: center,
                scrollwheel: false
            });
            var contentString = `
              <strong><%= apartment.name %><br />
              <%= apartment.location %></strong>
              <p><%= apartment.description %></p>
            `
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });
            var marker = new google.maps.Marker({
                position: center,
                map: map
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeseSYXhgoleBak_jJV7nDJzKDV3SkwaM&callback=initMap"></script>

<% include ../partials/footer %>