<% include ../partials/header %>

    <header class="jumbotron" id="orange">
        <div class="container">
            <h1>Reciclar</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="/recycles/new">Agregar Nuevo Reciclar</a>
            </p>
            <form action="/recycles/title" method="GET" class="form-inline">
                <div class="form-group">
                    <input type="text" name="search" placeholder="Búsqueda por título..." class="form-control">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </header>
    
    <div class="row">
        <div class="col-md-12 text-center">
            <% if(noMatch !== null){ %>
                <h3><%= noMatch %></h3></br>
            <% } %>
        </div>
        <% recycles.forEach(function(recycle){ %>
            <div class="col-md-12 col-sm-6">
                <div class="thumbnail ridgeBorder">
                    <a href="/recycles/<%= recycle._id %>"><p><%= recycle.title %></p></a>
                    <p><%- recycle.description.substring(0, 100) %>...</p>
                    <span><%= moment(recycle.createdAt).fromNow() %> by <a href="/profile/<%= recycle.author.id %>"><%= recycle.author.username %></span></a>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>