<% include ../partials/header %>

    <header class="jumbotron" id="orange">
        <div class="container">
            <h1>Service</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="/services/new">Add New Service</a>
            </p>
            <form action="/services" method="GET" class="form-inline">
                <div class="form-group">
                    <input type="text" name="search" placeholder="Search By Title..." class="form-control">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Search
                    </button>
                </div>
            </form>
        </div>
    </header>
    
    <div class="row text-center flex" >
        <div class="col-md-12">
            <% if(noMatch !== null){ %>
                <h3><%= noMatch %></h3>
            <% } %>
        </div>
        <% services.forEach(function(service){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <a href="/services/<%= service._id %>">
                        <img src="<%= service.image %>">
                    </a>
                    <div class="caption">
                        <h4><%= service.title %></h4>
                        <h5>$<%= service.price %></h5>
                    </div>
                    <p>
                        <a href="/services/<%= service._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>