<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Education</p>
            <div class="list-group">
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4 class="pull-right"><%= education.date.toDateString() %></h4>
                    <h4><a><%= education.title %></a></h4>
                    <p><%= education.description %></p>
                    <p>
                        <em>Submitted By <%= education.author.username %></em>
                    </p>
                    <% if(currentUser && education.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-warning" href="/education/<%= education._id %>/edit">Edit</a>
                        <form id="delete-form" action="/education/<%= education._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    
                </div>
                <hr>
                
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>